@tailwind base;
@tailwind components;
@tailwind utilities;

#tcontainer,#pcontainer {background-color: #eee}
.alan {border:1px solid green;}
.alan1 {border:1px solid red;}
.alan2 {border:1px solid blue;}
.sea-image {
    background-image: url("/img/big_sea.png");
    background-color: #cccccc;
    background-position: center;
    height:800px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
